.wrapper {
  position: relative;
}

.headerWrapper {
  height: 5rem;
}

.container {
  margin-top: 2.938rem;
  padding: 0 10.313rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.catalogDescription {
  width: 75% !important;
}

.titlePadding {
  text-align: center;
}

.description {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
  margin: 1.25rem 0 3.75rem;
  text-align: center;
}

.itemsContainer {
  margin-top: 1.875rem;
  display: flex;
  gap: 1.875rem;
  padding: 0 10.313rem;
  margin-bottom: 12.5rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.563rem;
  width: calc(100% - 17.813rem);
  justify-content: center;
}

.flowerLeft {
  position: absolute;
  z-index: -1;
}

.flowerRight {
  position: absolute;
  right: 0;
  z-index: -1;
}

.filtersAndCategories {
  display: none;
}

@media screen and (max-width: 1460px) {
  .container {
    padding: 0 6.25rem;
  }

  .itemsContainer {
    padding: 0 6.25rem;
  }
}

@media screen and (max-width: 1330px) {
  .catalogDescription {
    width: 100% !important;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 0 3.125rem;
  }

  .itemsContainer {
    padding: 0 3.125rem;
  }
}

@media screen and (max-width: 950px) {
  .filters {
    display: none;
  }

  .items {
    width: 100%;
  }

  .categories {
    display: none;
  }

  .filtersAndCategories {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 1.25rem;
    padding: 0 3.125rem;
  }
}
