.wrapper {
  display: flex;
  gap: 1.875rem;
}

.img {
  width: 21.875rem;
  height: fit-content;
}

.back {
  display: flex;
  gap: 0.375rem;
  cursor: pointer;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.back span {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size10);
  line-height: 0.938rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Cormorant';
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size40);
  line-height: 3rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-white);
}

.priceContainer {
  display: flex;
  gap: 1.25rem;
}

.price {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size30);
  line-height: 2.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-green);
}

.sale {
  font-weight: var(--fontWeight-300);
  font-size: var(--font-size30);
  line-height: 2.75rem;
  letter-spacing: 0.04em;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--color-grey);
}

.compound {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
}

.compoundContainer {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
}

.description {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
}

.labelContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.75rem;
}

.categoriesTitle {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size12);
  line-height: 1.125rem;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.categories {
  font-weight: var(--fontWeight-300);
  font-size: var(--font-size12);
  line-height: 1.125rem;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.buttonContainer {
  display: flex;
  gap: 1.875rem;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .img {
    margin: auto;
  }

  .back {
    display: none;
  }

  .labelContainer {
    margin-bottom: 0;
  }
}
