.green {
  background: var(--color-highlightGreen);
}

.pink {
  background: var(--color-purple);
}

.blue {
  background: var(--color-blue);
}

.white {
  background: var(--color-grey4);
}

.yellow {
  background-color: var(--color-yellow2);
}

.red {
  background-color: var(--color-red2);
}
