.link {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size12);
  line-height: 1.125rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
}

.separator :global .MuiBreadcrumbs-separator {
  color: var(--color-white);
}
