.catalogTitle {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size30);
  line-height: 2.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-green);
  margin-bottom: 0.625rem;
}

.catalogList {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size18);
  line-height: 1.688rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
  padding-inline-start: 1.25rem;
  padding-bottom: 1.5rem;
}

.catalogList li {
  list-style: disc;
}

.catalogLink {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size12);
  line-height: 1.125rem;
  letter-spacing: 0.1em;
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--color-pink);
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: end;
}

.catalogLink:hover {
  text-decoration: none;
}

.additionalCircle {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background: var(--color-totalBlack);
  position: absolute;
  top: -0.938rem;
  left: calc(50% - 1rem);
}

.additionalTitle {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-green);
  margin-bottom: 0.938rem;
}

.additionalDesc {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
}

.paymentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;
}

.paymentCircle {
  width: 0.688rem;
  height: 0.688rem;
  border-radius: 50%;
  margin: 0 auto;
  background: var(--color-purple2);
}

.paymentDesc {
  font-weight: var(--fontWeight-300);
  font-size: var(--font-size20);
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-white);
}

.contactWrapper {
  height: 15.938rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  text-align: center;
}

.contactDesc {
  font-weight: var(--fontWeight-300);
  font-size: var(--font-size20);
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
