.wrapper {
  border-bottom: 1px solid var(--color-grey);
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
}

.topBorder {
  border-top: 1px solid var(--color-grey);
}

.contentWrapper {
  display: flex;
  gap: 1.25rem;
}

.img {
  width: 3.75rem;
  height: 5rem;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.name {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-white);
}

.priceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-green);
}

.delete {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size10);
  line-height: 0.938rem;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--color-white);
  cursor: pointer;
}

.delete:hover {
  text-decoration: none;
}
