.wrapper {
  font-family: 'Cormorant';
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size100);
  line-height: 7.563rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-white);
}

@media screen and (max-width: 800px) {
  .wrapper {
    font-size: 3.75rem;
    line-height: 3rem;
  }
}
