@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  /* COLORS */

  --color-totalBlack: #000000;
  --color-black: #040a0a;
  --color-black2: #212121;
  --color-black3: #00000033;
  --color-grey: #555555;
  --color-grey2: #7c7c7c;
  --color-white: #ffffff;

  --color-darkGreen: #01281f;
  --color-highlightGreen: #249479;
  --color-green: #43ffd2;

  --color-darkPurple: #1b000e;
  --color-purple: #7d2253;
  --color-pink: #d978ac;

  --color-red: #ff3a44;

  /* FONT WEIGHT */

  --fontWeight-900: 900;
  --fontWeight-700: 700;
  --fontWeight-400: 400;
  --fontWeight-300: 300;

  /* FONT SIZE */

  --font-size14: 14px;
  --fontSize-12: 12px;
  --fontSize-10: 10px;

  /* TRANSITION */

  --transition-035s: 0.35s;
}

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  --webkit-overflow-scrolling: touch;
  background-color: #040a0a;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
