@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  /* COLORS */

  --color-totalBlack: #000000;
  --color-black: #040a0a;
  --color-black2: #212121;
  --color-black3: #00000033;
  --color-black4: #0a1717;
  --color-black5: #353535;
  --color-grey: #555555;
  --color-grey2: #7c7c7c;
  --color-grey3: #939393;
  --color-grey4: #6b535f;
  --color-white: #ffffff;

  --color-darkGreen: #01281f;
  --color-darkGreen2: #395959;
  --color-darkGreen3: #0f2222;
  --color-highlightGreen: #249479;
  --color-green: #43ffd2;
  --color-green2: #31985a;

  --color-darkPurple: #1b000e;
  --color-purple: #7d2253;
  --color-purple2: #6b535f;
  --color-pink: #d978ac;

  --color-red: #ff3a44;
  --color-red2: #922d2d;

  --color-yellow: #fcff50;
  --color-yellow2: #c8a156;

  --color-blue: #163d8f;

  /* FONT WEIGHT */

  --fontWeight-900: 900;
  --fontWeight-700: 700;
  --fontWeight-400: 400;
  --fontWeight-300: 300;

  /* FONT SIZE */

  --font-size600: 600px;
  --font-size200: 200px;
  --font-size150: 150px;
  --font-size100: 100px;
  --font-size60: 60px;
  --font-size40: 40px;
  --font-size30: 30px;
  --font-size20: 20px;
  --font-size18: 18px;
  --font-size16: 16px;
  --font-size14: 14px;
  --font-size12: 12px;
  --font-size10: 10px;

  /* FONT FAMILY */

  --fontFamily-Cormorant: 'Cormorant';

  /* TRANSITION */

  --transition-035s: 0.35s;
}

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #43ffd2;
  border-radius: 20px;
  border: 1px solid #43ffd2;
}

body {
  --webkit-overflow-scrolling: touch;
  background-color: #040a0a;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
