.wrapper {
  display: flex;
  align-items: center;
  padding: 0 10.313rem;
  gap: 4.375rem;
}

.fixed {
  background-color: var(--color-totalBlack);
}

.container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 3.125rem;
}

.innerWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.absolute {
  position: absolute;
  z-index: 3;
}
