.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.title {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-green);
}

.slider :global .MuiSlider-track,
.slider :global .MuiSlider-rail {
  color: var(--color-white);
}

.slider :global .MuiSlider-thumb {
  color: var(--color-green);
}

.description {
  font-weight: var(--fontWeight-300);
  font-size: var(--font-size12);
  line-height: 1.125rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
}
