.default {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
  cursor: pointer;
}

.default:hover {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--color-green);
}

.footer {
  font-weight: var(--fontWeight-300);
  font-size: var(--font-size12);
  line-height: 1.125rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
  cursor: pointer;
}

.color {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-green);
  cursor: pointer;
}
