.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-green);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.313rem;
}
