.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.step {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size30);
  line-height: 2.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-pink);
}

.description {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
}
