.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: min-content;
  position: relative;
}

.title {
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size20);
  line-height: 1.875rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
}

.priceWrapper {
  display: flex;
  gap: 0.625rem;
}

.price {
  font-weight: var(--fontWeight-700);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-white);
}

.sale {
  font-weight: var(--fontWeight-300);
  font-size: var(--font-size14);
  line-height: 1.313rem;
  letter-spacing: 0.04em;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--color-grey3);
}
